#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   -webkit-transition:all 1s;
   -moz-transition:all 1s;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #abbba2;
   color:#333;
   border-radius: 3px;
   width:50%;
}
a.popup-cerrar {
   position: absolute;
   top:3px;
   right:3px;
   background-color: #0e5223;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}
/*para el formulario de crear una cuenta nueva*/
h4{
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: #000000;
}
.datosF{
    margin-bottom: 20px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid yellow;
}
.datosF:focus{
    border: 1px solid #4aa52d;
}
.datosF[type="submit"]{
    margin-bottom: 0px;
    background: #0e5223;
    color:#fff;
	 border: none;
}
.datosF[type="submit"]:hover{
    background: #157733;
    cursor: pointer;
}